*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.app {
  width: 1200px;
  margin-left: 5%;
}

.out-tv {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: #000;
  padding-bottom: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.out-tv h6 {
  position: absolute;
  color: gold;
  bottom: 5px;
  left: 47%;
}
.inline-tv {
  width: 480px;
  height: 280px;
  background-color: #333;
  margin: auto 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.tv h5 {
  color: #fff;
  border: 1px ridge #fff;
  padding: 5px 8px;
  width: fit-content;
  font-weight: 500;
  margin: 5px;
  background-color: rgb(39, 50, 83);
  animation: hisense 1s infinite alternate linear;
  transform: translate(0);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-animation: hisense 6s infinite alternate linear;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}
@keyframes hisense {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  40% {
    transform: translate(400px, 200px);
    -webkit-transform: translate(400px, 200px);
    -moz-transform: translate(400px, 200px);
    -ms-transform: translate(400px, 200px);
    -o-transform: translate(400px, 200px);
  }
  60% {
    transform: translate(150px);
    -webkit-transform: translate(150px);
    -moz-transform: translate(150px);
    -ms-transform: translate(150px);
    -o-transform: translate(150px);
  }
  80% {
    transform: translate(0, 150px);
    -webkit-transform: translate(0, 150px);
    -moz-transform: translate(0, 150px);
    -ms-transform: translate(0, 150px);
    -o-transform: translate(0, 200px);
  }
  100% {
    transform: translate(200px, 250px);
    -webkit-transform: translate(200px, 250px);
    -moz-transform: translate(200px, 250px);
    -ms-transform: translate(200px, 250px);
    -o-transform: translate(200px, 250px);
  }
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.video-content {
  position: relative;
  width: 480px;
  height: 310px;
  background-color: rgb(46, 44, 44);
}
.video {
  width: 480px;
  height: 280px;
  margin: 1px auto;
}
.wasafi {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 30px;
}
.power-btn {
  position: absolute;
  bottom: 3px;
  left: 80px;
  padding: 2px;
  border: none;
  font-size: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* =====   remote===== */
.remote {
  text-transform: uppercase;
  max-width: 200px;
  background-color: #121212;
  margin: 2rem auto;
  padding: 15px 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.remote button {
  font-size: small;
  position: relative;
  box-shadow: 0px 0px 3px rgb(80, 73, 73);
  color: #fff;
  background-color: #000;
  border: none;
  margin: 5px;
  padding: 2px 5px 2px 4px;
  width: 50px;
}

.remote section {
  margin-bottom: 15px;
}

.power a {
  text-decoration: none;
  color: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 10px;
  background-color: rgba(206, 196, 178, 0.8);
  margin-bottom: 1rem;
  cursor: pointer;
}

.remote .first-buttons {
  font-size: 13px;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  display: grid;
  grid: repeat(2, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "prof dstv tv"
    ". guide .";
  margin-top: 10px;
}
.first-buttons button:nth-child(1) {
  grid-area: prof;
}
.first-buttons button:nth-child(2) {
  grid-area: dstv;
  background-color: rgb(0, 140, 255);
}
.first-buttons button:nth-child(3) {
  grid-area: tv;
}
.first-buttons button:nth-child(4) {
  grid-area: guide;
}
.remote .second-buttons,
.remote .third-buttons {
  display: grid;

  grid: repeat(3, 1fr) / repeat(3, 1fr);
}
.second-buttons {
  margin-bottom: 1rem;
}

.remote .fourth-buttons {
  display: grid;
  grid: repeat(4, 1fr) / repeat(3, 1fr);
}
